{"swagger":"2.0","info":{"title":"The califit-be Backend API","description":"An API for califit-be","contact":{"name":"Hieu Phan","email":"hieu.phq@gmail.com"},"version":""},"host":"califit-be.club","basePath":"/api/","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"auth/login":{"post":{"tags":["authentication"],"summary":"login authentication","description":"Sign a company user in","operationId":"authentication#login","produces":["application/vnd.goa.error","application/vnd.login_response+json"],"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/LoginPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Login_response"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"auth/logout":{"post":{"tags":["authentication"],"summary":"logout authentication","description":"Sign a company user in","operationId":"authentication#logout","produces":["application/vnd.goa.error","application/vnd.login_response+json"],"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/LoginPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Login_response"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"auth/register":{"post":{"tags":["authentication"],"summary":"register authentication","description":"Create a new user","operationId":"authentication#register","produces":["application/vnd.goa.error","application/vnd.token+json"],"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/RegisterPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Token"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"city":{"get":{"tags":["city"],"summary":"list city","description":"List cities","operationId":"city#list","produces":["application/vnd.cities+json","application/vnd.goa.error"],"parameters":[{"name":"limit","in":"query","description":"limit for paginate","required":false,"type":"integer","default":10},{"name":"name","in":"query","description":"query for find cities by name","required":false,"type":"string","default":""},{"name":"offset","in":"query","description":"offset for paginate","required":false,"type":"integer","default":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Cities"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}},"schemes":["https"]}},"city/{cityID}":{"get":{"tags":["city"],"summary":"show city","description":"Get a city by ID","operationId":"city#show","produces":["application/vnd.city+json","application/vnd.goa.error"],"parameters":[{"name":"cityID","in":"path","description":"City ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/City"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/error"}}},"schemes":["https"]}}},"definitions":{"Cities":{"title":"Mediatype identifier: application/vnd.cities+json; view=default","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/CityGeneral"},"example":[{"city_id":"Et praesentium.","city_name":"Quas reiciendis eum natus rerum sit accusantium.","created_at":"1993-07-17T01:28:42Z"}]},"paginate":{"$ref":"#/definitions/Paginate"}},"description":"A list of City (default view)","example":{"data":[{"city_id":"Et praesentium.","city_name":"Quas reiciendis eum natus rerum sit accusantium.","created_at":"1993-07-17T01:28:42Z"}],"paginate":{"current_page":31611116811956541,"total_item":4242797232625194422,"total_page":3275863565819911669}}},"City":{"title":"Mediatype identifier: application/vnd.city+json; view=default","type":"object","properties":{"city_id":{"type":"string","example":"Illum voluptatibus tenetur numquam eum."},"city_name":{"type":"string","example":"Est aut ducimus ducimus repellat minus."},"created_at":{"type":"string","example":"1977-11-30T13:57:32Z","format":"date-time"}},"description":"a city detail (default view)","example":{"city_id":"Illum voluptatibus tenetur numquam eum.","city_name":"Est aut ducimus ducimus repellat minus.","created_at":"1977-11-30T13:57:32Z"}},"CityGeneral":{"title":"Mediatype identifier: application/vnd.city+json; view=general","type":"object","properties":{"city_id":{"type":"string","example":"Et praesentium."},"city_name":{"type":"string","example":"Quas reiciendis eum natus rerum sit accusantium."},"created_at":{"type":"string","example":"1993-07-17T01:28:42Z","format":"date-time"}},"description":"a city detail (general view)","example":{"city_id":"Et praesentium.","city_name":"Quas reiciendis eum natus rerum sit accusantium.","created_at":"1993-07-17T01:28:42Z"}},"LoginPayload":{"title":"LoginPayload","type":"object","properties":{"email":{"type":"string","example":"jamesbond@gmail.com","format":"email","minLength":6,"maxLength":400},"password":{"type":"string","example":"abcd1234","minLength":8,"maxLength":100}},"example":{"email":"jamesbond@gmail.com","password":"abcd1234"},"required":["email","password"]},"Login_response":{"title":"Mediatype identifier: application/vnd.login_response+json; view=default","type":"object","properties":{"token":{"type":"string","example":"Non ipsa et quam dolore."},"user_info":{"$ref":"#/definitions/User_info"}},"description":"Login response (default view)","example":{"token":"Non ipsa et quam dolore.","user_info":{"company_address":"Sint qui sed dolor.","company_name":"Inventore perferendis molestiae vitae repellendus.","contact_name":"A quo quo officiis rerum qui amet.","email":"Assumenda voluptatum quos.","phone":"Accusantium hic vel."}}},"Paginate":{"title":"Mediatype identifier: application/vnd.paginate+json; view=default","type":"object","properties":{"current_page":{"type":"integer","example":31611116811956541,"format":"int64"},"total_item":{"type":"integer","example":4242797232625194422,"format":"int64"},"total_page":{"type":"integer","example":3275863565819911669,"format":"int64"}},"description":"pagination of a resources (default view)","example":{"current_page":31611116811956541,"total_item":4242797232625194422,"total_page":3275863565819911669}},"RegisterPayload":{"title":"RegisterPayload","type":"object","properties":{"company_address":{"type":"string","example":"445 Mount Eden Road, Mount Eden, Auckland","minLength":1,"maxLength":500},"company_name":{"type":"string","example":"Express company","minLength":1,"maxLength":500},"contact_name":{"type":"string","example":"Doe","minLength":1,"maxLength":200},"email":{"type":"string","example":"jamesbond@gmail.com","format":"email","minLength":6,"maxLength":150},"password":{"type":"string","example":"abcd1234","minLength":8,"maxLength":100},"phone":{"type":"string","example":"p0lba0qgou","maxLength":50}},"example":{"company_address":"445 Mount Eden Road, Mount Eden, Auckland","company_name":"Express company","contact_name":"Doe","email":"jamesbond@gmail.com","password":"abcd1234","phone":"p0lba0qgou"},"required":["email","password","contact_name","phone","company_address","company_name"]},"Token":{"title":"Mediatype identifier: application/vnd.token+json; view=default","type":"object","properties":{"token":{"type":"string","description":"A JWT token","example":"Atque reiciendis saepe voluptatem rerum et voluptatum."}},"description":"A token (default view)","example":{"token":"Atque reiciendis saepe voluptatem rerum et voluptatum."}},"User_info":{"title":"Mediatype identifier: application/vnd.user_info+json; view=default","type":"object","properties":{"company_address":{"type":"string","example":"Sint qui sed dolor."},"company_name":{"type":"string","example":"Inventore perferendis molestiae vitae repellendus."},"contact_name":{"type":"string","example":"A quo quo officiis rerum qui amet."},"email":{"type":"string","example":"Assumenda voluptatum quos."},"phone":{"type":"string","example":"Accusantium hic vel."}},"description":"User info (default view)","example":{"company_address":"Sint qui sed dolor.","company_name":"Inventore perferendis molestiae vitae repellendus.","contact_name":"A quo quo officiis rerum qui amet.","email":"Assumenda voluptatum quos.","phone":"Accusantium hic vel."}},"error":{"title":"Mediatype identifier: application/vnd.goa.error; view=default","type":"object","properties":{"code":{"type":"string","description":"an application-specific error code, expressed as a string value.","example":"invalid_value"},"detail":{"type":"string","description":"a human-readable explanation specific to this occurrence of the problem.","example":"Value of ID must be an integer"},"id":{"type":"string","description":"a unique identifier for this particular occurrence of the problem.","example":"3F1FKVRR"},"meta":{"type":"object","description":"a meta object containing non-standard meta-information about the error.","example":{"timestamp":1458609066},"additionalProperties":true},"status":{"type":"string","description":"the HTTP status code applicable to this problem, expressed as a string value.","example":"400"}},"description":"Error response media type (default view)","example":{"code":"invalid_value","detail":"Value of ID must be an integer","id":"3F1FKVRR","meta":{"timestamp":1458609066},"status":"400"}}},"responses":{"InternalServerError":{"description":"Internal Server Error"}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"Use JWT to authenticate\n\n**Security Scopes**:\n  * `api:access`: API access","name":"Authorization","in":"header"}}}