basePath: /api/
consumes:
- application/json
definitions:
  Login_response:
    description: Login response (default view)
    example:
      token: Adipisci et praesentium labore.
      user_info:
        company_address: Reiciendis eum natus rerum.
        company_name: Accusantium accusantium vel ut et quo.
        contact_name: Voluptatibus tenetur numquam eum expedita est aut.
        email: Ducimus repellat.
        phone: Minus rerum non ipsa et quam dolore.
    properties:
      token:
        example: Adipisci et praesentium labore.
        type: string
      user_info:
        $ref: '#/definitions/User_info'
    title: 'Mediatype identifier: application/vnd.login_response+json; view=default'
    type: object
  LoginPayload:
    example:
      email: jamesbond@gmail.com
      password: abcd1234
    properties:
      email:
        example: jamesbond@gmail.com
        format: email
        maxLength: 400
        minLength: 6
        type: string
      password:
        example: abcd1234
        maxLength: 100
        minLength: 8
        type: string
    required:
    - email
    - password
    title: LoginPayload
    type: object
  RegisterPayload:
    example:
      company_address: 445 Mount Eden Road, Mount Eden, Auckland
      company_name: Express company
      contact_name: Doe
      email: jamesbond@gmail.com
      password: abcd1234
      phone: mz0qovdh47
    properties:
      company_address:
        example: 445 Mount Eden Road, Mount Eden, Auckland
        maxLength: 500
        minLength: 1
        type: string
      company_name:
        example: Express company
        maxLength: 500
        minLength: 1
        type: string
      contact_name:
        example: Doe
        maxLength: 200
        minLength: 1
        type: string
      email:
        example: jamesbond@gmail.com
        format: email
        maxLength: 150
        minLength: 6
        type: string
      password:
        example: abcd1234
        maxLength: 100
        minLength: 8
        type: string
      phone:
        example: mz0qovdh47
        maxLength: 50
        type: string
    required:
    - email
    - password
    - contact_name
    - phone
    - company_address
    - company_name
    title: RegisterPayload
    type: object
  Token:
    description: A token (default view)
    example:
      token: Sint qui sed dolor.
    properties:
      token:
        description: A JWT token
        example: Sint qui sed dolor.
        type: string
    title: 'Mediatype identifier: application/vnd.token+json; view=default'
    type: object
  User_info:
    description: User info (default view)
    example:
      company_address: Reiciendis eum natus rerum.
      company_name: Accusantium accusantium vel ut et quo.
      contact_name: Voluptatibus tenetur numquam eum expedita est aut.
      email: Ducimus repellat.
      phone: Minus rerum non ipsa et quam dolore.
    properties:
      company_address:
        example: Reiciendis eum natus rerum.
        type: string
      company_name:
        example: Accusantium accusantium vel ut et quo.
        type: string
      contact_name:
        example: Voluptatibus tenetur numquam eum expedita est aut.
        type: string
      email:
        example: Ducimus repellat.
        type: string
      phone:
        example: Minus rerum non ipsa et quam dolore.
        type: string
    title: 'Mediatype identifier: application/vnd.user_info+json; view=default'
    type: object
  error:
    description: Error response media type (default view)
    example:
      code: invalid_value
      detail: Value of ID must be an integer
      id: 3F1FKVRR
      meta:
        timestamp: 1.458609066e+09
      status: "400"
    properties:
      code:
        description: an application-specific error code, expressed as a string value.
        example: invalid_value
        type: string
      detail:
        description: a human-readable explanation specific to this occurrence of the
          problem.
        example: Value of ID must be an integer
        type: string
      id:
        description: a unique identifier for this particular occurrence of the problem.
        example: 3F1FKVRR
        type: string
      meta:
        additionalProperties: true
        description: a meta object containing non-standard meta-information about
          the error.
        example:
          timestamp: 1.458609066e+09
        type: object
      status:
        description: the HTTP status code applicable to this problem, expressed as
          a string value.
        example: "400"
        type: string
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
host: califit-be.club
info:
  contact:
    email: hieu.phq@gmail.com
    name: Hieu Phan
  description: An API for califit-be
  title: The califit-be Backend API
  version: ""
paths:
  auth/login:
    post:
      description: Sign a company user in
      operationId: authentication#login
      parameters:
      - in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/LoginPayload'
      produces:
      - application/vnd.goa.error
      - application/vnd.login_response+json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Login_response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Internal Server Error
      schemes:
      - https
      summary: login authentication
      tags:
      - authentication
  auth/logout:
    post:
      description: Sign a company user in
      operationId: authentication#logout
      parameters:
      - in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/LoginPayload'
      produces:
      - application/vnd.goa.error
      - application/vnd.login_response+json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Login_response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Internal Server Error
      schemes:
      - https
      summary: logout authentication
      tags:
      - authentication
  auth/register:
    post:
      description: Create a new user
      operationId: authentication#register
      parameters:
      - in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/RegisterPayload'
      produces:
      - application/vnd.goa.error
      - application/vnd.token+json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Token'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Internal Server Error
      schemes:
      - https
      summary: register authentication
      tags:
      - authentication
produces:
- application/json
responses:
  InternalServerError:
    description: Internal Server Error
schemes:
- https
securityDefinitions:
  jwt:
    description: |-
      Use JWT to authenticate

      **Security Scopes**:
        * `api:access`: API access
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
