{"swagger":"2.0","info":{"title":"The califit-be Backend API","description":"An API for califit-be","contact":{"name":"Hieu Phan","email":"hieu.phq@gmail.com"},"version":""},"host":"califit-be.club","basePath":"/api/","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"auth/login":{"post":{"tags":["authentication"],"summary":"login authentication","description":"Sign a company user in","operationId":"authentication#login","produces":["application/vnd.goa.error","application/vnd.login_response+json"],"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/LoginPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Login_response"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"auth/logout":{"post":{"tags":["authentication"],"summary":"logout authentication","description":"Sign a company user in","operationId":"authentication#logout","produces":["application/vnd.goa.error","application/vnd.login_response+json"],"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/LoginPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Login_response"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"auth/register":{"post":{"tags":["authentication"],"summary":"register authentication","description":"Create a new user","operationId":"authentication#register","produces":["application/vnd.goa.error","application/vnd.token+json"],"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/RegisterPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Token"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Internal Server Error"}},"schemes":["https"]}}},"definitions":{"LoginPayload":{"title":"LoginPayload","type":"object","properties":{"email":{"type":"string","example":"jamesbond@gmail.com","format":"email","minLength":6,"maxLength":400},"password":{"type":"string","example":"abcd1234","minLength":8,"maxLength":100}},"example":{"email":"jamesbond@gmail.com","password":"abcd1234"},"required":["email","password"]},"Login_response":{"title":"Mediatype identifier: application/vnd.login_response+json; view=default","type":"object","properties":{"token":{"type":"string","example":"Adipisci et praesentium labore."},"user_info":{"$ref":"#/definitions/User_info"}},"description":"Login response (default view)","example":{"token":"Adipisci et praesentium labore.","user_info":{"company_address":"Reiciendis eum natus rerum.","company_name":"Accusantium accusantium vel ut et quo.","contact_name":"Voluptatibus tenetur numquam eum expedita est aut.","email":"Ducimus repellat.","phone":"Minus rerum non ipsa et quam dolore."}}},"RegisterPayload":{"title":"RegisterPayload","type":"object","properties":{"company_address":{"type":"string","example":"445 Mount Eden Road, Mount Eden, Auckland","minLength":1,"maxLength":500},"company_name":{"type":"string","example":"Express company","minLength":1,"maxLength":500},"contact_name":{"type":"string","example":"Doe","minLength":1,"maxLength":200},"email":{"type":"string","example":"jamesbond@gmail.com","format":"email","minLength":6,"maxLength":150},"password":{"type":"string","example":"abcd1234","minLength":8,"maxLength":100},"phone":{"type":"string","example":"mz0qovdh47","maxLength":50}},"example":{"company_address":"445 Mount Eden Road, Mount Eden, Auckland","company_name":"Express company","contact_name":"Doe","email":"jamesbond@gmail.com","password":"abcd1234","phone":"mz0qovdh47"},"required":["email","password","contact_name","phone","company_address","company_name"]},"Token":{"title":"Mediatype identifier: application/vnd.token+json; view=default","type":"object","properties":{"token":{"type":"string","description":"A JWT token","example":"Sint qui sed dolor."}},"description":"A token (default view)","example":{"token":"Sint qui sed dolor."}},"User_info":{"title":"Mediatype identifier: application/vnd.user_info+json; view=default","type":"object","properties":{"company_address":{"type":"string","example":"Reiciendis eum natus rerum."},"company_name":{"type":"string","example":"Accusantium accusantium vel ut et quo."},"contact_name":{"type":"string","example":"Voluptatibus tenetur numquam eum expedita est aut."},"email":{"type":"string","example":"Ducimus repellat."},"phone":{"type":"string","example":"Minus rerum non ipsa et quam dolore."}},"description":"User info (default view)","example":{"company_address":"Reiciendis eum natus rerum.","company_name":"Accusantium accusantium vel ut et quo.","contact_name":"Voluptatibus tenetur numquam eum expedita est aut.","email":"Ducimus repellat.","phone":"Minus rerum non ipsa et quam dolore."}},"error":{"title":"Mediatype identifier: application/vnd.goa.error; view=default","type":"object","properties":{"code":{"type":"string","description":"an application-specific error code, expressed as a string value.","example":"invalid_value"},"detail":{"type":"string","description":"a human-readable explanation specific to this occurrence of the problem.","example":"Value of ID must be an integer"},"id":{"type":"string","description":"a unique identifier for this particular occurrence of the problem.","example":"3F1FKVRR"},"meta":{"type":"object","description":"a meta object containing non-standard meta-information about the error.","example":{"timestamp":1458609066},"additionalProperties":true},"status":{"type":"string","description":"the HTTP status code applicable to this problem, expressed as a string value.","example":"400"}},"description":"Error response media type (default view)","example":{"code":"invalid_value","detail":"Value of ID must be an integer","id":"3F1FKVRR","meta":{"timestamp":1458609066},"status":"400"}}},"responses":{"InternalServerError":{"description":"Internal Server Error"}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"Use JWT to authenticate\n\n**Security Scopes**:\n  * `api:access`: API access","name":"Authorization","in":"header"}}}